{% extends "layout.html" %}

{% block title %}
Home Page - DailyMuse
{% endblock %}

{% block content %}

<a href="{% url "create_blog" %}" class="btn btn-primary mt-3 mx-4">Create A Blog</a>

{% for blog in blogs  %}

    <div class="container-card mb-2 mt-4 mx-5">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="fs-6 text-body-secondary">by {{blog.user}} • On {{blog.created_at}}</p>
            <hr>
            <p class="card-text">{{blog.blog_text}}</p>
            {% if blog.user == user %}
                <a href="{% url 'edit_blog' blog.id %}"><i class="fa-solid fa-pencil" style="color: #9279f8ff;"></i></a>
                <a href="{% url "delete_blog" blog.id %}"><i class="fa-solid fa-trash mx-4" style="color: #ff0000ff;"></i></a>
            {% endif %}
        </div>
        </div>
    </div>


{% endfor %}

{% endblock %}