{% extends "layout.html" %}

{% block title %}
Detail Blog | DailyMuse
{% endblock %}

{% block content %}

{% if blog.image %}

    <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
        <div class="card mb-3" style="max-width: 80rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{blog.image.url}}" style="height: 18rem; width: 50rem;" class="img-fluid rounded" alt="blog-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.title}}</h5>
                        {% if blog.user == user %}
                            <p class="card-text"><small class="text-body-secondary">by You — On {{blog.created_at}}</small></p>
                        {% else %}
                            <p class="card-text"><small class="text-body-secondary">by {{blog.user}} — On {{blog.created_at}}</small></p>
                        {% endif %}
                        <p class="card-text">{{blog.blog_text|linebreaks}}</p>
                        <a href="{% url "homepage" %}"><button class="btn btn-dark">Back To Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        {% else %}
        
        <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
            <div class="card mb-3" style="max-width: 80rem;">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    {% if blog.user == user %}
                    <p class="card-text"><small class="text-body-secondary">by You — On {{blog.created_at}}</small></p>
                    {% else %}
                    <p class="card-text"><small class="text-body-secondary">by {{blog.user}} — On {{blog.created_at}}</small></p>
                    {% endif %}
                    <p class="card-text">{{blog.blog_text|linebreaks}}</p>
                    <a href="{% url "homepage" %}"><button class="btn btn-dark">Back To Home</button></a>
                </div>
            </div>
        </div>
        
{% endif %}
        
{% endblock %}