{% extends "layout.html" %}

{% block title %}
Registration Page | DailyMuse
{% endblock %}

{% block content %}
<div class="container m-5 card p-5">
    <h2>Register Page :</h2>
    <br>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success" style="min-width: 40vh" type="submit">Register</button>
        </form>
        <p class="mt-4">Already Have An Account! <a href="{% url "login" %}">Login Here!</a></p>
    </div>
</div>
{% endblock %}